/*
 * Apply D3 branding to sidebar
 */
.wy-side-nav-search {
    background-color: #e32526;
}

/*
 * Increase width of content area
 */
.wy-nav-content {
    max-width: 1050px
}

/*
 * Undo odd theme behavior that causes problems when paragraphs are used within lists
 */
.rst-content ol li p:last-child, .rst-content ul li p:last-child {
    margin-bottom: 12px !important;
}

/*
 * ???
 */
table.docutils td > div.line-block {
    margin-left: 0;
}

/*
 * Automatically style images with a border
 */
.rst-content img { 
    border: 1px solid #aaa;
    padding: 4px;
}

.rst-content img.naked {
    border-width: 0;
}

/*
 * Paragraph labeling (for release notes primarily)
 */
.label {
    display: inline-block;
    padding: .3em .5em;
    font-size: 75%;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: top;
    border-radius: .25em;
    background-color: #777;
    margin-right: 0.5em;
    margin-top: 0.2em;
}
p .label {
    font-size: 65%;
}
.label.new, p.new .label {
    background-color: #5cd85c;
}
.label.new::before, p.new .label::before {
    content: "NEW";
}
.label.fixed, p.fixed .label {
    background-color: #337ab7;
}
.label.fixed::before, p.fixed .label::before {
    content: "FIXED";   
}
.label.upcoming, p.upcoming .label {
    background-color: #f0ad4e;
}
.label.upcoming::before, p.upcoming .label::before {
    content: "IN PROGRESS";   
}
p.new.featured {
    font-weight: bold;
}
p.fixed, p.new, p.upcoming {
    font-size: 1.3em;
}

/*
 * Adjust heading sizes for greater contrast between sizes
 */
h1 {
    font-size: 300%;
}

h2 {
    font-size: 200%;
}

h3 {
    font-size: 150%;
}

/*
 * Task lists (e.g. "'How do I ..")
 */
 .task-title {
     border-left: 10px solid #bd1f1f;
     border-top: 1px solid #bd1f1f;
     padding: 20px 0;
     text-transform: uppercase;
     padding-left: 14px;
     font-size: 115%;
     margin-bottom: 1em;
     font-weight: bold;
 }

 .task-item {
     font-weight: bold; 
     font-size: 1.em;
     color: #bd1f1f;
 }